@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PreCadastro/Views/Shared/_Master.cshtml";
}

<h2>Pré-Cadastro Akayou</h2>

<h3>Login</h3>
<input id="loginUsername" type="text" /><br />
<input id="loginPass" type="text" /><br />
<button id="loginEntrar">Entrar</button>

<script>
    $(document).ready(function () {
        $('#loginEntrar').click(function () {
            $.ajax({
                url: '/PreCad/Home/Login',
                type: 'POST',
                data: {
                    l1: $('#loginUsername').val(),
                    l2: $('#loginPass').val()
                }
            }).done(function (r) {
                alert('login: ' + r.resultado);
            }).fail(function () {
                alert('erro ao realizar login');
            });
        });
    });
</script>