@model AkayouSite.Areas.Cadastro.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cadastro/Views/Shared/_Master.cshtml";
}

@section Css {
    .texto {
        height: 100px;
        margin-top: 30px;
    }
    .texto p {
        text-align: center;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .opcoes {
        margin-top: 40px;
        height: 65px;
        width: 690px;
        margin-left: auto;
        margin-right: auto;
    }
    .opcoes .left {
        float: left;
    }
    .opcoes .right {
        float: right;
    }
    .msg.login {
        left: 355px;
    }
    .msg.login a.esqueci {
        float: right;
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }
    .msg.login .box {
        height: 148px;
    }
    .msg.login .field img.acessar {
        cursor: pointer;
    }
    .msg.login .err {
        text-align: center;
        color: red;
        margin-top: 15px;
        font-size: 10pt;
    }
    #acessarPerfil {
        cursor: pointer;
    }
    .msg.alterarSenha {
        width: 400px;
        left: 470px;
        top: 100px;
    }
    .msg.alterarSenha .box {
        height: 300px;
    }
    .msg.alterarSenha .box .tit {
        width: 200px;
    }
    .msg.alterarSenha label {
        display: block;
        font-weight: bold;
        font-size: 9pt;
        margin-bottom: 5px;
    }
    .msg.alterarSenha .field {
        margin-bottom: 10px;
        width: 100%;
    }
    .msg.alterarSenha .field input[type=text] {
        width: 200px;
    }
    .msg.alterarSenha .bt {
        display: block;
        float: right;
        margin-top: 21px;
    }
}

@section Script {
    $(document).ready(function() {
        $('#acessarPerfil').click(function() {
            $.ajax({
                url: '/Login/EstaLogado', 
                type: 'post'
            }).done(function(r) {
                if (r) document.location.href = '/Cadastro/Perfil';
                else showBox('.msg.login');
            }).fail(function() {
                showBox('.msg.login');
            });
        });

        $('.msg.login a.esqueci').click(function() {
            showBox('.msg.alterarSenha');
        });

        $('#loginEnviar').click(function () {
            $('#enviar').val('Aguarde...');
            $('.msg.login .err').text('Aguarde...');
            $.ajax({
                url: '/Login/Try',
                type: 'post',
                data: {
                    l1: $('#login').val(),
                    l2: $('#senha').val()
                }
            }).done(function (r) {
                if (!r.ok) {
                    if (r.hasOwnProperty('resultado')) {
                        window.setTimeout(function() {
                            $('.msg.login .err').text(
                                r.resultado == 'USUARIO_INEXISTENTE' ? 'Usuário não encontrado.' : 
                                r.resultado == 'LOGIN_INCORRETO' ? 'Login incorreto.' : 
                                r.resultado);
                            }, 1500);
                        return;
                    }
                    $('.msg.login .err').text('Login não realizado. Por favor tente novamente.');
                    return;
                }
                document.location.href = '@(Model.ReturnUrl ?? "/Cadastro/Perfil")';
            }).fail(function () {
                alert('erro ao realizar login');
            }).always(function () {
                $('#enviar').val('Enviar');
            });
        });
    });
}

<div class="texto">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="sep2"><img src="/Content/Images/precad-sep-2.png" /></div>

<div class="opcoes">
    <span class="left"><a id="acessarPerfil"><img class="voltar" src="/Content/Images/precad-home-perfil.png" /></a></span>
    <span class="right"><a href="/Cadastro/Cadastro"><img class="avancar" src="/Content/Images/precad-home-cadastrar.png" /></a></span>
</div>

<div class="sep2"><img src="/Content/Images/precad-sep-2.png" /></div>

<div class="msg login">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-loginacesso.png" /></div>
        <div class="err"></div>
        <hr />
        <span class="field"><input id="login" type="text" placeholder="Login" /></span>
        <span class="field"><input id="senha" type="text" placeholder="Senha" /></span>
        <span class="field"><img id="loginEnviar" class="acessar" src="/Content/Images/precad-msg-acessar-perfil.png" /></span>
        <a class="esqueci">Esqueci a senha</a>
    </div>
</div>

<div class="msg alterarSenha">
    <div class="box">
        <div class="tit"><img src="/Content/Images/precad-msg-alterar-senha-titulo.png" /></div>
        <hr />
        <div class="field">
            <label for="senhaAntiga">Senha antiga*</label>
            <input id="senhaAntiga" type="text" />
        </div>
        <div class="field">
            <label for="novaSenha">Nova senha* (no mínimo 6 caracteres)</label>
            <input id="novaSenha" type="text" />
        </div>
        <div class="field">
            <label for="confirmarNovaSenha">Confirmar nova senha*</label>
            <input id="confirmarNovaSenha" type="text" />
        </div>
        <span class="bt"><img id="alterarSenhaBt" src="/Content/Images/precad-msg-alterar-senha-bt.png" /></span>
    </div>
</div>