@model AkayouSite.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<h2>Login</h2>

<input id="login" type="text" /><br />
<input id="pass" type="text" /><br /><br />
<input id="enviar" type="button" value="Enviar"/>

<script>
    $('#enviar').click(function () {
        $('#enviar').val('Aguarde...');
        $.ajax({
            url: '/Login/Try',
            type: 'post',
            data: {
                l1: $('#login').val(),
                l2: $('#pass').val()
            }
        }).done(function (r) {
            if (!r.ok) {
                if (r.hasOwnProperty('resultado')) {
                    alert(r.resultado);
                    return;
                }
                alert('login não realizado. por favor tente novamente');
                return;
            }
            document.location.href = '@(Model.ReturnUrl ?? "/")';
        }).fail(function () {
            alert('erro ao realizar login');
        }).always(function () {
            $('#enviar').val('Enviar');
        });
    });
</script>