@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cadastro/Views/Shared/_Master.cshtml";
}

@section Css {
    .tit {
        width: 445px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
    .form {
        width: 520px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        height: 140px;
    }
    .form .left {
        float: left;
        display: block;
        margin-right: 20px;
    }
    .form .left input[type=text] {
        width: 138px;
    }
    .form .esqueci {
        display: block;
        float: right;
        margin-top: 10px;
    }
    footer {
        margin-top: 85px;
    }
}

@section Script {
    $(document).ready(function() {
        $('#login').focus();
    });
}

<div class="tit"><img src="/Content/Images/precad-login-tit.png" /></div>

<div class="form">
    <span class="left"><input id="login" type="text" tabindex="1" /></span>
    <span class="left"><input id="senha" type="text" tabindex="2" /></span>
    <span class="left"><input id="acessar" type="image" src="/Content/Images/precad-login-acessar.png" tabindex="3" /></span>
    <span class="esqueci"><a href="" tabindex="4">Esqueci a senha</a></span>
</div>

<div class="sep1"><img src="/Content/Images/precad-sep-1.png" /></div>