<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script>
        function showBox(divSelector) {
            $('body').on('click', '.msgBackdrop', function () { clearBox(divSelector); });
            $('.msgBackdrop').show();
            $(divSelector).css('z-index', '2000').show();
            $(divSelector + ' input[type=text]:first').focus();
        }
        function clearBox(divSelector) {
            $(divSelector).css('z-index', '-2000').hide();
            $('.msgBackdrop').hide();
            $('body').off('click', '.msgBackdrop');
        }

        @RenderSection("Script", false)
    </script>
    <style type="text/css">
        body {
            background: url('/Content/Images/precad-fundo-1.jpg') no-repeat center top;
            color: #fff;
            font-family: verdana;
            font-size: 10pt;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
        form.cadastro input {
            background: #fff;
            height: 18px;
            border: 1px solid #a1662f;
            font-size: 14pt;
            padding: 6px;
        }
        form.cadastro input.invalid {
            background: red;
        }
        form.cadastro input.invalid:focus {
            background: #fff;
        }

        article {
            width: 842px;
            height: 560px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 123px;
        }

        .logo-akayou {
            width: 273px;
            margin-left: auto;
            margin-right: auto;
        }
        .sep1 {
            width: 530px;
            margin-left: auto;
            margin-right: auto;
        }
        .sep2 {
            width: 690px;
            margin-left: auto;
            margin-right: auto;
        }
        footer {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            clear: left;
        }
        .msg {
            position: fixed;
            background: #fff;
            width: 642px;
            top: 200px;
            display: none;
            color: #444;
            font-size: 12px;
        }
        .msg h3 {
            font-size: 12px;
            font-weight: bold;
        }
        .msg .box {
            background: #e9e9e9;
            margin: 25px;
            padding: 25px;
        }
        .msg .box .tit {
            width: 442px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .msg .box .scroller {
            overflow-y: scroll;
            height: 100px;
        }
        .msg .field {
            float: left;
        }
        .msg .field input[type=text] {
            width: 170px;
            height: 18px;
            border: 1px solid #bababa;
            font-size: 14pt;
            padding: 6px;
            margin-right: 21px;
        }
        .msg hr {
            height: 1px;
            background: #d3d3d3;
            border: 0;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .msg a {
            color: #333333;
        }
        .msg .fechar {
            cursor: pointer;
        }
        .msg p {
            text-align: center;
        }
        .msgBackdrop {
            width: 4000px;
            height: 2500px;
            position: fixed;
            top: 0px;
            left: 0px;
            background: rgba(0, 0, 0, .75);
            z-index: 1999;
            display: none;
        }

        @RenderSection("Css", false)
    </style>
</head>
<body>
    <div class="msgBackdrop"></div>
    <article>

        <div class="logo-akayou"><a href="/Cadastro/Home"><img src="/Content/Images/precad-logo-akayou.png" /></a></div>

        <div class="sep1"><img src="/Content/Images/precad-sep-1.png" /></div>
    
        @RenderBody()
        
        <footer>&copy; 2013 Akayou. Todos os direitos reservados.           <a href="">Termos e Condições de Uso</a></footer>
    </article>
</body>
</html>